.tabs-content {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #e9e6e6;
}
.tabs-content .tabs-box {
  flex: 1;
  overflow: hidden;
  box-sizing: border-box;
  height: 42px;
}
.tabs-content .tabs {
  display: flex;
  transition: all 0.6s ease-in-out;
  box-sizing: border-box;
  border-left: 1px solid #e9e6e6;
  border-right: 1px solid #e9e6e6;
}
.tabs-content .tab {
  line-height: 42px;
  border-right: 1px solid #e9e6e6;
  position: relative;
  box-sizing: border-box;
}
.tabs-content .tab:hover {
  background: #5b56df;
  color: #fff;
  cursor: pointer;
}
.tabs-content .tab:hover .close-icon {
  visibility: visible;
}
.tabs-content .tab .close-icon {
  line-height: 18px;
  position: absolute;
  right: 6px;
  visibility: hidden;
}
.tabs-content .is-active {
  background: #5b56df;
  color: #fff;
}
.tabs-content .pre,
.tabs-content .next {
  width: 40px;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 42px;
  height: 42px;
}
.tabs-content .is-disabled {
  cursor: not-allowed;
  opacity: 0.2;
}
.tabs-content .next .icon {
  transform: rotate(180deg);
}
.tabs-content ul,
.tabs-content li {
  margin: 0;
  padding: 0;
}
.tabs-content li {
  list-style: none;
}
